@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .text{
    color: antiquewhite;
    margin-top: -500px;
}

.container .text h2{
    padding-left: 60px;
    margin-top: 10px;
    font-size: 60px;
}

.container .text p{
    margin-top: 10px;
    font-size: 25px;
    position: relative;
    z-index: 1;
    padding-left: 80px;
}

.container .gif{
    height: 460px;
    width: 590px;
    background: url("https://i.pinimg.com/originals/4a/b5/a4/4ab5a441a00ac705c0e97a8897b49331.gif");
    background-repeat: no-repeat;
    margin-top: 255px;
    margin-right: 325px;
}

.container .card{
    display: flex;
    flex-direction: column;
    height: 410px;
    width: 290px;
    position: absolute;
    margin-left: 540px;
    margin-bottom: 295px;
    border: 0.5px solid antiquewhite;
    border-radius: 10px;
    background: linear-gradient(90deg, #0d0c11 65%,#000 0%);
}


.container .card .wifi-icon{
    display: flex;
    justify-content: flex-end;    
}

.card .emv-chip>img{
    height: 50px;
    width: 50px;
    border-radius: 8px;
          
}

.card .wifi-icon>img{
    height: 45px;
    width: 50px;
    padding: 3px 5px 0px 0px;
}

.container .card .emv-chip{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    padding-left: 85px;
}

.card .card-holder{
    margin-top: 85px;
}

.card .card-holder p{
    color: #7e7d82;
    padding-left: 25px;
    padding-bottom: 3px;
    font-size: 15px;
    letter-spacing: 0.2rem;
}

.card .bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
}

.card .bottom .card-type>img{
    height: 35px;
    width: 70px;
    padding-left: 20px;
    
}

.card .bottom .card-brand{
    margin-right: 10px;
    margin-top: -65px;
}



.card .bottom .card-brand img{
    height: 95px;
    width: 35px;
   
}


